.main_container{
    max-width: 80vw;
    height: 100vh;
    margin-left: 370px;
}

/* HEADER ELEMENTO */
.header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px; /* o original é 16px*/
    /* margin: 10px; */
    border-radius: 8px;
    background-color: rgba(18, 18, 18, 0.7); /* opacidade reduzida */
    width: 1138px;
}


/* HEADER botões de seta*/
.header_navigation .navigation_buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .navigation_buttons .arrow_left{
    margin-right: 1.25rem;
}

.arrow_left, .arrow_right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.navigation_buttons .arrow_left:hover,
.navigation_buttons .arrow_right:hover{
    transform: scale(1.1);
    background-color: #fff;
}


/*HEADER COMPLETO*/
.header_content{
    display: flex;
    align-items: center;
}

.header_search{ /*barra de pesquisa*/
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-right: 170px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header_search img{ /*tamanho da lupa (barra de pesquisa)*/
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header_search input{ /*input que vai receber o texto para pesquisa*/
    background: transparent;
    border: none;
    padding: 0px 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}


/*botões do header*/
.login_area_header{
    margin-left: 1rem;
}

.login_area_header .signup_header{
    color: #A7A7A7;
    font-size: 16PX;
    font-weight: 700;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login_area_header .signin_header{
    width: 110px;
    height: 48px;
    color: #0000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 9999px;
    color:#121212;
    cursor: pointer;
}

.premium_header, .suport_header, .download_header{
    background-color: transparent;
    color: #b3b3b3;
    border: none;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
}

.login_area_header .signin_header:hover{
    transform: scale(1.1);
}

.login_area_header .signup_header:hover{
    transform: scale(1.1);
    color: #ffff;
}

.header_content .premium_header:hover,
.header_content .suport_header:hover,
.header_content .download_header:hover{
    transform: scale(1.1);
    color: #ffff;
}

.divider{
    color: #b3b3b3;
    margin-left: 10px;
}

/* PLAYLIST CONTAINER */
.playlist_container {
    height: 77vh;
    padding-top: 16px;
    border-radius: 10px;
    background-color: #121212;
}

.results_playlists{
    position: relative;
}
.playlist2 {
    padding: 10px 0 0 28px;
}

/* texto da área de playlist*/
.playlist2 #welcome {
    color: #ffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}
  
.playlist2 .sessions {
    color: #ffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
/* SCROLL */
.offer__scroll-container {
    max-height: 61.8vh;
    overflow-y: auto;
    padding: 15px 10px 10px 25px
}
  
.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}
  
.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 14px;
    gap: 14px;
    margin-bottom: 25px;
}

/* CARDS PERSONALIZADOS */
.cards {
    position: relative;
    width: 215px;
    height: 220px;
    overflow: hidden;
    border-radius: 8px;
}

.cards:hover {
    transform: scale(1.05);
}
  
.cards span {
    padding: 16px;
    position: absolute;
    color: #ffff;
    font-size: 24px;
    font-weight: 700;
}
  
/* cor dos cards personalizados */
.card1 {
    background-color: rgb(0, 100, 80);
}
.card2 {
    background-color: rgb(132, 0, 231);
}
.card3 {
    background: rgb(30, 50, 100);
}
.card4 {
    background: rgb(140, 25, 50);
}
.card5 {
    background: rgb(232, 17, 91);
}
.card6 {
    background: rgb(83, 122, 161);
}
.card7 {
    background: rgb(142, 102, 172);
}
.card8 {
    background: rgb(20, 138, 8);
}
.card9 {
    background: rgb(30, 50, 100);
}
.card10 {
    background: rgb(233, 20, 41);
}
.card11 {
    background: rgb(80, 55, 80);
}
.card12 {
    background: rgb(216, 64, 0);
}
.card13 {
    background: rgb(186, 93, 7);
}
.card14 {
    background: rgb(0, 30, 80);
}
.card15 {
    background: rgb(60, 30, 80);
}

/* estilização das imagens de playlist que ficam dentro dos cards coloridos */
.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}

/* CARD ARTISTA */
.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}
  
.hidden {
    display: none;
}
  
.grid_container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
}
  
.artist_card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    z-index: 1;
}
  
.artist_card:hover {
    background-color: #252525;
}
  
.card_image {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}
  
.artist_image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}


.card_text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
}
  
.card_text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
  
.artist_name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
    margin-top: 22px;
}
  
.artist_categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
}

#result_artist {
    padding: 20px 40px;
}

/* estilizando botão play */
.play {
    position: relative;
}
  
.play .fa-play {
    position: absolute;
    right: 0;
    top: 140px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}
  
.artist_card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}
  
.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}
  

